apiVersion: v1
kind: Service
metadata:
  name: {{ include "first-pipeline.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "first-pipeline.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  {{- if eq .Values.service.type "NodePort" }}
    nodePort: {{ .Values.service.nodePort }}
  {{- end }}
  selector:
    {{- include "first-pipeline.selectorLabels" . | nindent 4 }}
